
@media print {
    body {
        font-size: 24pt;
        font-weight: 400;
        font-family: sans-serif;
        zoom: 60%;
    }

    .header p {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: bold;
    }

    .header h1 {
        text-decoration: underline;
    }

    table thead td {
        width: 350px;
    }


    .form-check .form-check-input {
        float: right;
        margin-right: 1.5em;
        margin-left: 10px;
    }

    .footer p {
        font-size: 15pt;
    }
}

body {
    font-size: 16px;
    font-weight: 400;
    font-family: sans-serif;
}

.titletop .titleeng {
    letter-spacing: 6px;
}

.titletop .titlear {
    letter-spacing: 2px;
}

.titletop .titlep {
    font-size: 24px;
    letter-spacing: 3px;
}


.header h1 {
    text-decoration: underline;
}

.header p {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.footer p {
    font-size: 20px;
}

.form-check .form-check-input {
    float: right;
    margin-right: 1.5em;
    margin-left: 10px;
}

table thead td {
    width: 350px;
}

.container-fluid {
    padding-right: var(--bs-gutter-x, 3.75rem);
    padding-left: var(--bs-gutter-x, 3.75rem);
}